<connectionStrings>
  <!-- Copy this file as the connections.config file that is missing from the repository-->
  <!-- Remove the underscores from the name and add values to other underscore spots -->
  <add name="DefaultConnection___" connectionString="Data Source=_____;Initial Catalog=______;Integrated Security=false;User Id=______;Password=______"
    providerName="System.Data.SqlClient" />
</connectionStrings>